*{
    margin: 5px;
    padding: 10px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.calendar {
    display: grid;
    grid-template-areas:
    "time contents";
    grid-template-columns: 120px;
    grid-template-rows: 120px;
    width: 120vw;
    height: 25vh;
    margin: 0 auto;
    box-shadow: 1 2px 20 px rgba(0, 0, 0, 0.20)
}
/* trying to get the entry boxes to be wider, vertically */
.empty {
    display: grid;
    grid-area: empty;
    border-top: 1px solid rgba(0,0,0,0.25);
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.saveBtn {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #6b69fc;
    color: white;
    height: 60px;
    width: 60px;
    justify-content: right;